.box-header .nav-tabs li.list-inline-item h3{

    color: black;
    font-size: 0.9em;
}
.box-header .nav-tabs li.list-inline-item i{

    color: black;

}

.control-label{

    text-align: left !important;

}
